.toolbar {
    background-color: black;
    opacity: 0.8;
}

.toolbar h3 {
    font-size: 15px;
    color: white;
    margin-top: 16px;
}

.mat-drawer-container {
    height: 100%;
}

header {
    margin: 20px 0px 0px 20px;
}

mat-drawer {
    min-width: 380px;
    max-width: 380px;
}

mat-drawer .header {
    height: 10%;
}

mat-expansion-panel {
    padding: 15px;
}

mat-expansion-panel-header {
    padding: 0;
}

mat-panel-title {
    font-size: 15px;
    margin-left: 20px;
}

mat-panel-title h3 {
    font-size: 18px !important;
    width: 340px;
}

.tick-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 15px;
}

.task {
    margin-left: 10px;
}

.task h4 {
    font-size: 15px !important;
}


.task h4:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.content {
    height: 100%;
}

.taskDescription {
    min-height: 100%;
}

.headerPanel {
    padding: 0;
}

.headerPanel header {
    width: 100%;
    margin: 0 !important;
    background-color: #1F2937;
}

.headerPanel header h2 {
    width: 100%;
    margin-left: 20px;
}

.runBtn {
    margin-right: 50px;
}

.codeContainer {
    min-height: 600px;
    max-height: 600px;
}

/* styles.css or your component's style file */

/* Set a fixed height for the code editor */
.ngs-code-editor {
    height: 595px;
    max-height: 595px;
    min-height: 595px;
    overflow: auto;
}

.terminal {
    height: 242px;
    margin: 0px 9px 0px 9px;
    overflow: auto;
}

.terminal p {
    white-space: pre-line;
}

.taskPanel {
    max-height: 432px;
    overflow-y: auto;
}