<div class="w-100 h-100">
    <div class="w-100 toolbar">
        <mat-toolbar class="mat-elevation-z8 position-relative" fxLayout="row" fxLayoutAlign="start stretch"
            style="z-index: 2">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h3>Xin chào {{userName}} !</h3>
            <button mat-icon-button matTooltip="Đi đến phần bài tập" class="position-absolute top-0 end-0"
                style="margin-right: 50px;" [routerLink]="['/exercises']">
                <mat-icon class="mt-1">code</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()" matTooltip="Đăng xuất" class="position-absolute top-0 end-0"
                cButton>
                <mat-icon class="mt-1">exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="w-100 content">
        <mat-drawer-container>
            <mat-drawer #drawer [mode]="'side'" class="bg-dark bg-gradient bg-opacity-20">
                <div class="h-100 mt-4">
                    <div *ngFor="let p of sections" class="side-nav">
                        <div class="sections mt-3">
                            <h3>
                                <i class="bi bi-book-fill"></i>
                                {{p.sectionName}}
                            </h3>
                        </div>
                        <div *ngFor="let p2 of p.lessons" class="mt-2 lessons">
                            <p class="item-nav p-2" (click)="showLesson(p2.lessonId)">{{p2.lessonName}}</p>
                        </div>
                    </div>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="container-xxl mt-3 d-flex justify-content-center">
                    <c-carousel [dark]="true" *ngIf="!isHideSlides" [wrap]="false" class="w-75 justify">
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of slides; index as i;">
                                <div class="row border border-secondary intro">
                                    <div class="col-md-5">
                                        <img [src]="slide.src" class="d-block w-75" loading="lazy" />
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <h2>{{slide.title}}</h2>
                                        <p>{{slide.subtitle}}</p>
                                    </div>
                                </div>
                            </c-carousel-item>
                        </c-carousel-inner>
                        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>
                </div>
                <div class="container-xxl justify-content-center mt-5" *ngIf="subHeader">
                    <h1 class="w-100 subHeader justify" [innerHTML]="subHeader"> </h1>
                </div>
                <div class="container-xxl justify-content-center border mb-5" *ngIf="subContent">
                    <div class="w-100 mt-4 p-3 justify" [innerHTML]="subContent"> </div>
                </div>

                <!-- <form (submit)="compileCode()">
                    <textarea [(ngModel)]="cCode" name="code"></textarea>
                    <button type="submit">Compile & Run</button>
                </form>
                <pre>{{ output }}</pre> -->

                <div *ngIf="isCompile">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="position-fixed end-0 bottom-0 chatGpt" *ngIf="isChat">
                    <nb-layout>
                        <nb-layout-column>
                            <nb-chat title="Chat" class="border" size="large">
                                <nb-chat-message *ngFor="let msg of messages" [type]="msg.type" [message]="msg.text"
                                    [reply]="msg.reply" [sender]="msg.user.name" [date]="msg.date" [files]="msg.files"
                                    [quote]="msg.quote" [latitude]="msg.latitude" [longitude]="msg.longitude">
                                </nb-chat-message>
                                <nb-chat-form *ngIf="!isGen" (send)="sendMessage($event)" [dropFiles]="true">
                                </nb-chat-form>
                            </nb-chat>
                            <nb-card *ngIf="isGen" [nbSpinner]="true" nbSpinnerStatus="success">
                                <nb-card-body>
                                    Chờ chút bạn nhé^^^
                                </nb-card-body>
                            </nb-card>
                        </nb-layout-column>
                    </nb-layout>
                </div>
                <div class="position-fixed end-0 bottom-0 m-5">
                    <button mat-fab color aria-label=" Ask GPT" class="gptBtn" (click)="toggleGpt()">
                        <mat-icon *ngIf="!isChat">message</mat-icon>
                        <mat-icon *ngIf="isChat">close</mat-icon>
                    </button>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>


    <!-- <div style="min-height: 130px;" class="d-flex flex-row-reverse">
        <c-card [visible]="visibleMsg" cCollapse horizontal class="shadow" style="max-width: 260px;">
            <c-card-body style="width: 260px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown when
                triggered.
            </c-card-body>
        </c-card>
    </div>
    &nbsp; -->
    <!-- <div class="d-flex flex-row-reverse">
        <button (click)="toggleCollapse()" cButton class="   mb-3" color="primary"
            [attr.aria-expanded]="visibleMsg"><img
                src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/chatgpt-icon.png"
                style="width: 50px; height: auto;"></button>
    </div> -->

    <c-modal [visible]="visible">
        <c-modal-header>
            <h2 cModalTitle>Xác nhận</h2>
        </c-modal-header>
        <c-modal-body>Bạn có muốn đăng xuất?</c-modal-body>
        <c-modal-footer>
            <button (click)="closeDialog()" class="btn btn-light">
                Hủy
            </button>
            <button cButton (click)="acceptLogout()" class="btn btn-primary">Đồng ý</button>
        </c-modal-footer>
    </c-modal>
    <block-ui></block-ui>
</div>