 .mat-drawer-container {
     height: 100%;
 }

 .mat-drawer {
     /* border-top-right-radius: 15px;
     border-bottom-right-radius: 15px; */
     min-width: 450px;
     margin: 0px 0px 0px 0px;
     overflow-y: hidden !important;
 }

 .header h3 {
     font-weight: bold;
 }

 .item-nav:hover {
     background-color: white;
     opacity: 0.7;
     color: black;
     font-size: 15px;
     border-radius: 5px;
     margin-left: 5px;
 }

 .toolbar mat-toolbar {
     background-color: black;
     opacity: 0.8;
     color: white;
 }

 .toolbar mat-toolbar h3 {
     margin-top: 16px;
 }

 .carousel-inner {
     padding: 20px;
 }

 .side-nav {
     padding: 0px 130px 0px 15px;
 }

 .content {
     height: 93.7%;
 }