.mat-drawer-container {
    height: 100%;
}

.mat-drawer {
    /* border-top-right-radius: 15px;
     border-bottom-right-radius: 15px; */
    width: 400px !important;
    margin: 0px 0px 0px 0px !important;
    overflow-y: hidden !important;
}

.sections h3 {
    font-size: 18px !important;
    font-weight: bold !important;
    color: white !important;
}

.lessons p {
    font-size: 15px !important;
    color: white;
}

.item-nav:hover {
    background-color: white !important;
    opacity: 0.7 !important;
    color: black !important;
    font-size: 15px !important;
    border-radius: 5px !important;
    margin-left: 5px !important;
}

.toolbar mat-toolbar {
    background-color: black;
    opacity: 0.8;
    color: white;
}

.toolbar mat-toolbar h3 {
    margin-top: 16px;
    color: white !important;
    font-size: 15px;
}

.carousel-inner {
    padding: 20px;
}

.side-nav {
    padding: 0px 100px 15px 15px;
}

.content {
    height: 93.5%;
}

.subHeader {
    font-weight: bold;
}

/* Style the embedded code editor */
#jdoodleEditor .editor-header {
    background-color: red;
    padding: 10px;
}

.gptBtn {
    background-color: black;
}

.chatGpt {
    height: 566px;
    margin-right: 100px;
    margin-bottom: 110px !important;
}

nb-chat {
    width: 500px;
    height: 700px;
}

nb-layout-column {
    height: 676px;
    padding: 0 !important;
    background-color: transparent
}

.greetingPar {
    background-color: #1E2A55;
}

.greeting {
    height: 232px;
    width: 800px;
    background-color: #35416E;
}

.userPanel {
    width: 400px;
    height: 130px;
}