<div class="w-100 h-100">
    <div class="w-100 toolbar">
        <mat-toolbar class="mat-elevation-z8 position-relative" fxLayout="row" fxLayoutAlign="start stretch"
            style="z-index: 2">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h3>Xin chào, Hao!</h3>
            <button mat-icon-button (click)="logout()" matTooltip="Đăng xuất" class="position-absolute top-0 end-0"
                cButton>
                <mat-icon class="mt-1">exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="w-100 content">
        <mat-drawer-container>
            <mat-drawer #drawer [mode]="'side'" class="bg-dark bg-gradient bg-opacity-20 text-light">
                <div class="h-100 mt-4">
                    <div *ngFor="let p of sections" class="side-nav">
                        <div class="header mt-3">
                            <h3>
                                <i class="bi bi-book-fill"></i>
                                {{p.sectionName}}
                            </h3>
                        </div>
                        <div *ngFor="let p2 of p.lessons" class="mt-2">
                            <p class="item-nav p-2">{{p2.lessonName}}</p>
                        </div>
                    </div>

                </div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="container-xxl mt-3 d-flex justify-content-center">
                    <c-carousel [dark]="true" [wrap]="false" class="w-75 justify">
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of slides; index as i;">
                                <div class="row border border-secondary intro">
                                    <div class="col-md-5">
                                        <img [src]="slide.src" class="d-block w-75" loading="lazy" />
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <h2>{{slide.title}}</h2>
                                        <p>{{slide.subtitle}}</p>
                                    </div>
                                </div>
                            </c-carousel-item>
                        </c-carousel-inner>
                        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>
                </div>
                <div class="container-xxl d-flex justify-content-center">
                    <div class="w-75 p-5 justify border" [innerHTML]="htmlToAdd"> </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>

    <c-modal [visible]="visible">
        <c-modal-header>
            <h2 cModalTitle>Xác nhận</h2>
        </c-modal-header>
        <c-modal-body>Bạn có muốn đăng xuất?</c-modal-body>
        <c-modal-footer>
            <button (click)="closeDialog()" class="btn btn-light">
                Hủy
            </button>
            <button cButton (click)="acceptLogout()" class="btn btn-primary">Đồng ý</button>
        </c-modal-footer>
    </c-modal>
</div>